<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
		<link rel="stylesheet" href="./css/core.min.css">
		<link rel="stylesheet" href="./css/main.min.css">
		<title></title>
	</head>
	<body>
		<header class="header">
			<div class="container-fluid">
				<div class="header-wrapper"> 
					<div class="header-logo"><a href="#"> <img class="lozad undefined" data-src="./img/logo.png" alt=""/></a></div>
					<div class="header-right">
						<div class="header-menu"> 
							<ul class="header-nav"> 
								<li><a href="./about.html">Giới thiệu</a></li>
								<li><a href="./productList.html">Sản phẩm</a></li>
								<li><a href="./projectList.html">Dự án</a></li>
								<li> <a href="./newsList.html">Truyền thông</a></li>
								<li><a href="./recruitmentList.html">Tuyển dụng</a></li>
								<li><a href="./Contact.html">Liên hệ</a></li>
							</ul>
						</div>
						<div class="header-right-inner">
							<div class="header-search"> <img src="./img/icon-search.svg" alt=""></div>
							<div class="header-language"> 
								<div class="header-language-active">
									<ul> 
										<li class="wpml-ls-current-language"><a href=""> 
												<div class="flag"> <img src="./img/flag-VN.png" alt=""/></div><span class="wpml-ls-native">VN</span></a></li>
										<ul> 
											<li> <a href=""> <span>EN</span></a></li>
										</ul>
									</ul>
								</div>
								<div class="header-language-list">
									<ul> 
										<li class="wpml-ls-current-language"><a href=""> <span class="wpml-ls-native">VN</span></a></li>
										<ul> 
											<li> <a href=""> <span>EN</span></a></li>
										</ul>
									</ul>
								</div>
							</div>
							<div class="header-bar"><i class="fa-solid fa-bars"></i></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="header-search-form">
			<div class="close flex items-center justify-center absolute top-0 right-0 bg-white text-3xl cursor-pointer w-12.5 h-12.5"><i class="fa-light fa-xmark"></i></div>
			<div class="container">
				<div class="wrap-form-search-product">
					<div class="productsearchbox">
						<input type="text" placeholder="Tìm kiếm thông tin">
						<button><i class="fa-light fa-magnifying-glass"></i></button>
					</div>
				</div>
			</div>
		</div>
		<div data-scroll-container>
			<main>
				<div class="global-breadcrumb">
					<div class="container">
						<nav class="rank-math-breadcrumb" aria-label="breadcrumbs">
							<p><a href="#">Trang chủ</a><span class="separator"> | </span><span class="last">Về chúng tôi</span></p>
						</nav>
					</div>
				</div>
				<section class="project-detail section-py">
					<div class="container"> 
						<div class="heading mb-6">
							<div class="sub-title heading-5 font-bold text-Utility-700 mb-4">Gói thầu XL8: Xây lắp và khảo sát, thiết kế BVTC đoạn Km69+000 - Km78+000</div>
							<h2 class="heading-2 font-bold text-Primary-2">DATP đoạn Cam Lộ - La Sơn thuộc Dự án Xây dựng một số đoạn đường bộ cao tốc trên tuyến Bắc - Nam phía Đông giai đoạn 2017 – 2020</h2>
						</div>
						<div class="slide-project"> 
							<div class="project-slide-main mb-6 relative">
								<div class="swiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="image"><a class="img img-ratio ratio:pt-[786_1400] rounded-5"><img class="lozad undefined" data-src="./img/1.jpg" alt=""/></a></div>
										</div>
										<div class="swiper-slide">
											<div class="image"><a class="img img-ratio ratio:pt-[786_1400] rounded-5"><img class="lozad undefined" data-src="./img/1.jpg" alt=""/></a></div>
										</div>
										<div class="swiper-slide">
											<div class="image"><a class="img img-ratio ratio:pt-[786_1400] rounded-5"><img class="lozad undefined" data-src="./img/1.jpg" alt=""/></a></div>
										</div>
										<div class="swiper-slide">
											<div class="image"><a class="img img-ratio ratio:pt-[786_1400] rounded-5"><img class="lozad undefined" data-src="./img/1.jpg" alt=""/></a></div>
										</div>
										<div class="swiper-slide">
											<div class="image"><a class="img img-ratio ratio:pt-[786_1400] rounded-5"><img class="lozad undefined" data-src="./img/1.jpg" alt=""/></a></div>
										</div>
										<div class="swiper-slide">
											<div class="image"><a class="img img-ratio ratio:pt-[786_1400] rounded-5"><img class="lozad undefined" data-src="./img/1.jpg" alt=""/></a></div>
										</div>
									</div>
								</div>
							</div>
							<div class="project-slide-thumbs relative flex items-center w-full justify-center">
								<div class="project-slide-thumbs-wrapper w-full flex items-center md:gap-6 gap-3">
									<div class="btn btn-sw-1 btn-prev blue"></div>
									<div class="swiper w-full h-full">
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												<div class="img img-ratio ratio:pt-[127_192] img-full h-full rounded-5"><img class="lozad undefined" data-src="./img/1.jpg" alt=""/>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="img img-ratio ratio:pt-[127_192] img-full h-full rounded-5"><img class="lozad undefined" data-src="./img/1.jpg" alt=""/>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="img img-ratio ratio:pt-[127_192] img-full h-full rounded-5"><img class="lozad undefined" data-src="./img/1.jpg" alt=""/>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="img img-ratio ratio:pt-[127_192] img-full h-full rounded-5"><img class="lozad undefined" data-src="./img/1.jpg" alt=""/>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="img img-ratio ratio:pt-[127_192] img-full h-full rounded-5"><img class="lozad undefined" data-src="./img/1.jpg" alt=""/>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="img img-ratio ratio:pt-[127_192] img-full h-full rounded-5"><img class="lozad undefined" data-src="./img/1.jpg" alt=""/>
												</div>
											</div>
										</div>
									</div>
									<div class="btn btn-sw-1 btn-next blue"></div>
								</div>
							</div>
						</div>
						<div class="wrapper-project grid grid-cols-12 gap-base">
							<div class="col-left lg:col-span-8 col-span-full">
								<div class="format-content body-1">
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum eaque, alias, ducimus at cum totam odio similique expedita minima quas ipsum amet quasi qui velit ullam blanditiis possimus numquam?</p>
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum eaque, alias, ducimus at cum totam odio similique expedita minima quas ipsum amet quasi qui velit ullam blanditiis possimus numquam?</p>
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum eaque, alias, ducimus at cum totam odio similique expedita minima quas ipsum amet quasi qui velit ullam blanditiis possimus numquam?</p>
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum eaque, alias, ducimus at cum totam odio similique expedita minima quas ipsum amet quasi qui velit ullam blanditiis possimus numquam?</p>
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum eaque, alias, ducimus at cum totam odio similique expedita minima quas ipsum amet quasi qui velit ullam blanditiis possimus numquam?</p>
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum eaque, alias, ducimus at cum totam odio similique expedita minima quas ipsum amet quasi qui velit ullam blanditiis possimus numquam?</p>
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum eaque, alias, ducimus at cum totam odio similique expedita minima quas ipsum amet quasi qui velit ullam blanditiis possimus numquam?</p>
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum eaque, alias, ducimus at cum totam odio similique expedita minima quas ipsum amet quasi qui velit ullam blanditiis possimus numquam?</p>
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum eaque, alias, ducimus at cum totam odio similique expedita minima quas ipsum amet quasi qui velit ullam blanditiis possimus numquam?</p>
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum eaque, alias, ducimus at cum totam odio similique expedita minima quas ipsum amet quasi qui velit ullam blanditiis possimus numquam?</p>
								</div>
							</div>
							<div class="col-right lg:col-span-4 col-span-full">
								<div class="box xl:p-10 p-5 bg-Primary-1 rounded-5 text-white">
									<h3 class="heading-4 font-bold mb-8">Tổng quan dự án</h3>
									<div class="info-list flex flex-col gap-5">
										<div class="item"> 
											<div class="sub-title">Chủ đầu tư</div>
											<div class="title font-bold">Ban QLDA Đường Hồ Chí Minh</div>
										</div>
										<div class="item"> 
											<div class="sub-title">Chủ đầu tư</div>
											<div class="title font-bold">Ban QLDA Đường Hồ Chí Minh</div>
										</div>
										<div class="item"> 
											<div class="sub-title">Chủ đầu tư</div>
											<div class="title font-bold">Ban QLDA Đường Hồ Chí Minh</div>
										</div>
										<div class="item"> 
											<div class="sub-title">Chủ đầu tư</div>
											<div class="title font-bold">Ban QLDA Đường Hồ Chí Minh</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="project-detail-related section-py bg-Utility-50">
					<div class="container"> 
						<h2 class="heading-2 font-bold text-Primary-2 text-center mb-base">Dự án liên quan</h2>
						<div class="swiper-column-auto relative autoplay swiper-loop">
							<div class="swiper"> 
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="project-item rounded-5 overflow-hidden">
											<div class="img"> <a class="img-ratio ratio:pt-[247_440]" href="./projectDetail.html"> <img class="lozad undefined" data-src="./img/1.jpg" alt=""/></a></div>
											<div class="content p-4 bg-Utility-50"> 
												<div class="content-top">
													<div class="category body-5 text-Utility-700 font-bold mb-1">Gói thầu XL8</div>
													<h3 class="heading-4 font-bold text-black"><a href="#">Cao tốc Quảng Ngãi</a></h3>
												</div>
												<div class="content-bottom mt-4">
													<div class="item"> 
														<div class="icon">
															 <i class="fa-light fa-user"></i></div>
														<div class="title">Ban QLDA Đường Hồ Chí Minh</div>
													</div>
													<div class="item"> 
														<div class="icon">
															 <i class="fa-light fa-user"></i></div>
														<div class="title">Ban QLDA Đường Hồ Chí Minh</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="project-item rounded-5 overflow-hidden">
											<div class="img"> <a class="img-ratio ratio:pt-[247_440]" href="./projectDetail.html"> <img class="lozad undefined" data-src="./img/1.jpg" alt=""/></a></div>
											<div class="content p-4 bg-Utility-50"> 
												<div class="content-top">
													<div class="category body-5 text-Utility-700 font-bold mb-1">Gói thầu XL8</div>
													<h3 class="heading-4 font-bold text-black"><a href="#">Cao tốc Quảng Ngãi</a></h3>
												</div>
												<div class="content-bottom mt-4">
													<div class="item"> 
														<div class="icon">
															 <i class="fa-light fa-user"></i></div>
														<div class="title">Ban QLDA Đường Hồ Chí Minh</div>
													</div>
													<div class="item"> 
														<div class="icon">
															 <i class="fa-light fa-user"></i></div>
														<div class="title">Ban QLDA Đường Hồ Chí Minh</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="project-item rounded-5 overflow-hidden">
											<div class="img"> <a class="img-ratio ratio:pt-[247_440]" href="./projectDetail.html"> <img class="lozad undefined" data-src="./img/1.jpg" alt=""/></a></div>
											<div class="content p-4 bg-Utility-50"> 
												<div class="content-top">
													<div class="category body-5 text-Utility-700 font-bold mb-1">Gói thầu XL8</div>
													<h3 class="heading-4 font-bold text-black"><a href="#">Cao tốc Quảng Ngãi</a></h3>
												</div>
												<div class="content-bottom mt-4">
													<div class="item"> 
														<div class="icon">
															 <i class="fa-light fa-user"></i></div>
														<div class="title">Ban QLDA Đường Hồ Chí Minh</div>
													</div>
													<div class="item"> 
														<div class="icon">
															 <i class="fa-light fa-user"></i></div>
														<div class="title">Ban QLDA Đường Hồ Chí Minh</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="project-item rounded-5 overflow-hidden">
											<div class="img"> <a class="img-ratio ratio:pt-[247_440]" href="./projectDetail.html"> <img class="lozad undefined" data-src="./img/1.jpg" alt=""/></a></div>
											<div class="content p-4 bg-Utility-50"> 
												<div class="content-top">
													<div class="category body-5 text-Utility-700 font-bold mb-1">Gói thầu XL8</div>
													<h3 class="heading-4 font-bold text-black"><a href="#">Cao tốc Quảng Ngãi</a></h3>
												</div>
												<div class="content-bottom mt-4">
													<div class="item"> 
														<div class="icon">
															 <i class="fa-light fa-user"></i></div>
														<div class="title">Ban QLDA Đường Hồ Chí Minh</div>
													</div>
													<div class="item"> 
														<div class="icon">
															 <i class="fa-light fa-user"></i></div>
														<div class="title">Ban QLDA Đường Hồ Chí Minh</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="project-item rounded-5 overflow-hidden">
											<div class="img"> <a class="img-ratio ratio:pt-[247_440]" href="./projectDetail.html"> <img class="lozad undefined" data-src="./img/1.jpg" alt=""/></a></div>
											<div class="content p-4 bg-Utility-50"> 
												<div class="content-top">
													<div class="category body-5 text-Utility-700 font-bold mb-1">Gói thầu XL8</div>
													<h3 class="heading-4 font-bold text-black"><a href="#">Cao tốc Quảng Ngãi</a></h3>
												</div>
												<div class="content-bottom mt-4">
													<div class="item"> 
														<div class="icon">
															 <i class="fa-light fa-user"></i></div>
														<div class="title">Ban QLDA Đường Hồ Chí Minh</div>
													</div>
													<div class="item"> 
														<div class="icon">
															 <i class="fa-light fa-user"></i></div>
														<div class="title">Ban QLDA Đường Hồ Chí Minh</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="project-item rounded-5 overflow-hidden">
											<div class="img"> <a class="img-ratio ratio:pt-[247_440]" href="./projectDetail.html"> <img class="lozad undefined" data-src="./img/1.jpg" alt=""/></a></div>
											<div class="content p-4 bg-Utility-50"> 
												<div class="content-top">
													<div class="category body-5 text-Utility-700 font-bold mb-1">Gói thầu XL8</div>
													<h3 class="heading-4 font-bold text-black"><a href="#">Cao tốc Quảng Ngãi</a></h3>
												</div>
												<div class="content-bottom mt-4">
													<div class="item"> 
														<div class="icon">
															 <i class="fa-light fa-user"></i></div>
														<div class="title">Ban QLDA Đường Hồ Chí Minh</div>
													</div>
													<div class="item"> 
														<div class="icon">
															 <i class="fa-light fa-user"></i></div>
														<div class="title">Ban QLDA Đường Hồ Chí Minh</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="wrap-button-slide">
								<div class="btn btn-prev btn-sw-1 blue"></div>
								<div class="btn btn-next btn-sw-1 blue"></div>
							</div>
						</div>
					</div>
				</section>
				<footer class="footer section-py bg-Primary-1">
					<div class="container-fluid"> 
						<div class="wrapper grid grid-cols-[4.2fr_2.8fr_2.5fr_2.5fr] gap-base">
							<div class="footer-column"> 
								<h3>Thông tin liên hệ</h3>
								<div class="contact-info">
									<div class="contact-item"><a href="#"> 
											<div class="icon">
													<i class="fa-solid fa-location-dot"></i></div><span>Văn phòng đại diện: Số 04, Đường 55-TML, Phường Cát Lái, TP.HCM</span></a></div>
									<div class="contact-item"><a href="#"> 
											<div class="icon">
													<i class="fa-solid fa-location-dot"></i></div><span>Văn phòng đại diện: Số 04, Đường 55-TML, Phường Cát Lái, TP.HCM</span></a></div>
									<div class="contact-item"><a href="#"> 
											<div class="icon">
													<i class="fa-solid fa-location-dot"></i></div><span>Văn phòng đại diện: Số 04, Đường 55-TML, Phường Cát Lái, TP.HCM</span></a></div>
									<div class="contact-item"><a href="#"> 
											<div class="icon">
													<i class="fa-solid fa-location-dot"></i></div><span>Văn phòng đại diện: Số 04, Đường 55-TML, Phường Cát Lái, TP.HCM</span></a></div>
								</div>
							</div>
							<div class="footer-column"> 
								<h3>Liên kết nhanh</h3>
								<ul class="footer-menu"> 
									<li> <a href="#">Giới thiệu</a></li>
									<li> <a href="#">Giới thiệu</a></li>
									<li> <a href="#">Giới thiệu</a></li>
									<li> <a href="#">Giới thiệu</a></li>
									<li> <a href="#">Giới thiệu</a></li>
									<li> <a href="#">Giới thiệu</a></li>
								</ul>
							</div>
							<div class="footer-column"> 
								<h3>Theo dõi chúng tôi</h3>
								<ul class="footer-social"> 
									<li> <a href="#">
											<div class="icon">
												 <i class="fa-brands fa-facebook"></i></div><span>Facebook</span></a></li>
									<li> <a href="#">
											<div class="icon">
												 <i class="fa-brands fa-facebook"></i></div><span>Facebook</span></a></li>
									<li> <a href="#">
											<div class="icon">
												 <i class="fa-brands fa-facebook"></i></div><span>Facebook</span></a></li>
								</ul>
							</div>
							<div class="footer-column"> 
								<h3>Đăng ký nhận thông tin</h3>
								<form>
									<div class="form-group">
										<input type="email" placeholder="Your email...">
									</div>
									<div class="form-submit"> 
										<button class="btn btn-primary" type="submit"> <span>GỬI</span></button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="tool-fixed-cta"><a class="btn btn-content" href="#">
							<div class="btn-icon tiktok">
								<div class="icon"><i class="fa-brands fa-tiktok"></i></div>
							</div></a><a class="btn btn-content" href="#">
							<div class="btn-icon youtube">
								<div class="icon"><i class="fa-brands fa-youtube"></i></div>
							</div></a><a class="btn btn-content" href="#">
							<div class="btn-icon facebook">
								<div class="icon"><i class="fa-brands fa-facebook"></i></div>
							</div></a>
						<div class="btn button-to-top">
							<div class="btn-icon">
								<div class="icon"> </div>
							</div>
						</div>
					</div>
				</footer>
			</main>
		</div>
		<script src="./js/core.min.js"></script>
		<script src="./js/main.min.js"></script>
	</body>
</html>