.footer .wrapper .footer-column form .form-submit input[type="submit"] {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgb(236 88 59 / var(--tw-bg-opacity));
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.project-page.banner {
  /* @apply relative */
  position: relative;
}

.project-page.banner > a {
  /* Các style mặc định nếu có */
}

/* @screen -md (Breakpoint <= 768px, ví dụ) */
@media (max-width: 767px) {
  .project-page.banner > a {
    /* @apply pt-full (Giả định pt-full là padding-top: 100%; để giữ tỉ lệ 1:1) */
    padding-top: 100%;
    height: 0;
    overflow: hidden;
  }
}

.project-page.banner::before {
  content: "";
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.project-page.banner .banner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;
  z-index: 20;
  color: #fff;

  left: 16.25rem; 
  max-width: 37.8125rem; /* 605px / 16 = 37.8125rem */
}

/* @screen -xl (Breakpoint <= 1280px, ví dụ) */
@media (max-width: 1279px) {
  .project-page.banner .banner-content {
    /* @apply left-[1.541667rem] */
    left: 1.541667rem;
  }
}

/* @screen -md (Breakpoint <= 768px, ví dụ) */
@media (max-width: 767px) {
  .project-page.banner .banner-content {
    /* @apply max-w-full px-5 left-0 */
    max-width: 100%;
    padding-left: 1.25rem; /* px-5 = padding 5/4 rem = 1.25rem */
    padding-right: 1.25rem;
    left: 0;
  }
}

ul.project-nav li a.active {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgb(19 68 148 / var(--tw-bg-opacity));
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.header-search-form .wrap-form-search-product .productsearchbox form {
  width: 100%;
  display: flex;
}
.header-search-form .wrap-form-search-product .productsearchbox form input[type="submit"] {
   --tw-bg-opacity: 1 !important;
    flex: 1 1 0% !important;
    outline-width: 0 !important;
    border-width: 0 !important;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
    padding-right: 1.5625rem !important;
    padding-left: 1.5625rem !important;
    height: 2.60417rem !important;
    font-size: clamp(14px, .83333rem, .83333rem) !important;
}
.header .header-wrapper .header-language.no-dropdown .header-language-active::after {
    content: none !important;
    display: none; 
}